include README.md
include LICENSE
include requirements.txt
recursive-include POS2SSG *.py
global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.so
global-exclude .DS_Store
global-exclude .git*
global-exclude *.egg-info
global-exclude build
global-exclude dist
global-exclude POSCAR*
global-exclude SPOSCAR*
global-exclude PPOSCAR*
global-exclude *.nonmag
global-exclude *.pos2ssg
global-exclude *.out
global-exclude *.in
